@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    ;    
    font-style: oblique;
    background-color: bisque;
    font-size: 1rem;
}
.title{
  font-size: 70px;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
  color: #00c0c0;
  text-transform: uppercase;
  text-shadow: 1px 1px 0px #957dad,
               1px 2px 0px #957dad,
               1px 3px 0px #957dad,
               1px 4px 0px #957dad,
               1px 5px 0px #957dad,
               1px 6px 0px #957dad,
               1px 10px 5px rgba(16, 16, 16, 0.5),
               1px 15px 10px rgba(16, 16, 16, 0.4),
               1px 20px 30px rgba(16, 16, 16, 0.3),
               1px 25px 50px rgba(16, 16, 16, 0.2);
}
.bookDisplay{
    display: flex; 
    justify-items: stretch;
    align-items: stretch;
    grid-gap: 12px;
}
.bookCard{
        display:grid; 
        overflow-wrap: normal;
        align-items: flex-end;
        flex-direction: row-reverse;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        border-radius: 5px; /* 5px rounded corners */
        border-radius: 5px 5px 0 0;
    background-color: antiquewhite;
    
}

.removeBookButton{
    margin-left: auto;
    padding: auto;
    align-self: right;
}